<!-- <form (ngSubmit)="onAdd()" #dish="ngForm" *ngIf="flag">

  <div class="container">
    <div class="form-group">
      <div class="example-container">
          <mat-form-field class="example-full-width">

              <input matInput placeholder="Price" [(ngModel)]="categoryName" id="categoryName" ngModel required name="categoryName" #categoryName1="ngModel">
               <mat-hint align="end">{{dishprice.value?.length}}/4</mat-hint>
              <mat-error *ngIf="categoryName.hasError('required')">
                  Name is required.
                </mat-error>
            </mat-form-field>

      </div>
    </div>
  </div>
</form> -->
